*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

#gari{
    color: white;
    display: flex;
   
}


.display{
    margin-left: 80px;
}
.profile{
    font-size: small;
    margin-left: 20px;

}

.header{
    height: 100vh;
    width: 100%;
    background-color: black;
   

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 4%;
    padding-right: 4%;
}

.logo{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}